<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/rfujiwar23/image/upload/v1587288613/portfolio/cat.png);">
      <div class="container">
        <h1>Use This App to <strong>Manage</strong> Your <strong>Big Band</strong></h1>
        <p>Create Notifications for Rehearsals and Give Out Parts to Your Big Band in Matter of Few Minutes</p>
        <a class="btn btn-flat" href="#">Use This Now!</a>
      </div>
</div>
    <p>Current date and time <%= Time.now %></p>



<div class="wrapper">
  <h1>What You Can Achieve with this App</h1>
  <div class="row">

    <div class="information-card col-lg-4 col-md-6 col-12">
      <p>Upload parts and the score (sheet music) for the ensemble. Add music links if necessary.</p>
      <img src="<%= asset_path('top-page-image-1.png') %>" alt="upload-a-score" class="img-responsive-center">
    </div>

    <div class="information-card col-lg-4 col-md-6 col-12">
      <p>Assign the parts according to their instrument & parts and the instrument doubles.</p>
      <img src="<%= asset_path('top-page-image-2.png') %>" alt="upload-a-score" class="img-responsive-center">
    </div>

    <div class="information-card col-lg-4 col-md-6 col-12">
      <p>Schedule a rehearsal and put in concert date(s) and send a reminder.</p>
      <img src="<%= asset_path('top-page-image-3.png') %>" alt="upload-a-score" class="img-responsive-center">
    </div>

    <div class="information-card col-lg-4 col-md-6 col-12">
      <p>Assign the section leaders, giving them the role to create sectional rehearsals.</p>
      <img src="<%= asset_path('top-page-image-1.png') %>" alt="upload-a-score" class="img-responsive-center">
    </div>

    <div class="information-card col-lg-4 col-md-6 col-12">
      <p>Create chats within the band, within the section, and also to individual users.</p>
      <img src="<%= asset_path('top-page-image-5.png') %>" alt="upload-a-score" class="img-responsive-center">
    </div>

    <div class="information-card col-lg-4 col-md-6 col-12">
      <p>If you are part of multiple bands, you can separate the music and notifications.</p>
      <img src="<%= asset_path('top-page-image-1.png') %>" alt="upload-a-score" class="img-responsive-center">
    </div>

  </div>
</div>


